<div class="app-patient">
    <div class="patient-action-buttons">
        <h3 class="heading">Record Visits</h3>
        <button #singleButton pButton label="Add Record Visit" (click)="addRecordVisit()"></button>
    </div>
    <p-dataTable [value]="patients" [rows]="20" [(selection)]="selectedPatients" [loading]="loader"
        [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" #dt>
        <p-column field="patient.firstname" header="First Name" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="patient.lastname" header="Last Name" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="patient.number" header="Phone">
        </p-column>
        <p-column field="category" header="Treatment">
        </p-column>
        <p-column field="subCategory" header="Category">
        </p-column>
        <p-column field="totalAmount" header="Amount">
        </p-column>
        <p-column field="pendingAmount" header="Rem. Amount">
        </p-column>
    </p-dataTable>
</div>

