.patient-action-buttons {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 5px;
    align-items: center;
    .heading {
        margin-left: 4px
    }
    button {
        padding: 0 8px!important;
    }
}

.pending-amount-patient-grid {
    .ui-dialog-content {
        padding: 0px!important;
    }
}