<div class="app-treatment">
   
    <div class="treatment-action-buttons">
        <h3>
            Treatment Categories
        </h3>
        <button pButton label="Add Treatment Categrory" (click)="addTreatmentCategory()"></button>
    </div>
<p-dataTable [value]="treatmentCategories" [rows]="20" [(selection)]="selectedTreatments" [loading]="loader"
        [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true" #dt>
        <!-- <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column> -->
        <!-- <p-column field="id" header="ID" [filter]="true" filterPlaceholder="Search">
        </p-column> -->
        <p-column field="treatmentType.description" header="Treatment Type" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="description" header="Name" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column styleClass="col-button">
            <ng-template let-category="rowData" pTemplate="body">
                <!-- <button type="button" pButton (click)="editPatient(patient)" label="Edit"></button> -->
                <div class='flex-center'>
                    <i class="fa ui-icon-edit cursor-pointer" (click)="editTreamentCategory(category)"></i>
                </div>
               
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<p-dialog header="Add Treatment Category" width="300" height="225" [(visible)]="display">
    <form #treatmentForm="ngForm">
        <div class="ui-g input-field-top-padding">
            <div class="ui-g-12 ui-lg-12 ui-md-12  ui-fluid">
                <p-dropdown name="treatmentype" [autoWidth]="false" appendTo="body" [options]="treatmentTypes" (ngModelChange)="treatmentCategory.treatmentType =  $event" [ngModel]="treatmentCategory?.treatmentType" placeholder="Select a Treatment *" optionLabel="description" required></p-dropdown>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12  ui-fluid inputfield">
              <span class="md-inputfield">
                 <input id="description" type="text" pInputText name="description"  #firstname="ngModel" tooltipEvent="focus" (ngModelChange)="treatmentCategory.description = $event" [ngModel]="treatmentCategory?.description" required/>
                 <label for="description">Description *</label>
             </span>
            </div>
        </div>
        <div style="padding-top:2em; float:right">
          <button type="button" [disabled]="!treatmentForm.form.valid" pButton icon="fa-check"  (click)="saveTreatment()" label="Save"></button>
        </div>
    </form>
</p-dialog>