<div class="app-patient">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
        </div>
        <div class="ui-g-12 ui-md-6">
            <p-menubar [style]="{'border':'none', 'background-color':'transparent'}">
                <ng-container>
                    <button #singleButton pButton label="Add Patient" (click)="addPatient()"></button>
                    <button #singleButton pButton label="Pending Amount" (click)="pendingAmountPatient()"></button>
                    <!-- [disabled]="!(selectedPatients.length > 0)" -->
                    <button #singleButton pButton label="Send SMS"
                        (click)="sendSms()"></button>
                </ng-container>
            </p-menubar>
        </div>
    </div>
    <p-dataTable [value]="patientList" [rows]="20" [(selection)]="selectedPatients" [loading]="loader"
        [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" #dt>
        <p-header>Patients List</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="firstname" header="First Name" [sortable]="true" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="lastname" header="Last Name" [sortable]="true" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="number" header="Phone" [sortable]="true">
        </p-column>
        <p-column field="dob" header="Date of Birth" [sortable]="true">
        </p-column>
        <p-column field="totalAmount" header="Amount" [sortable]="true">
        </p-column>
        <p-column field="pendingAmount" header="Rem. Amount" [sortable]="true">
        </p-column>
        <p-column styleClass="col-button">
            <ng-template let-patient="rowData" pTemplate="body">
                <button type="button" pButton (click)="editPatient(patient)" label="Edit"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<!-- <p-dialog header="Pending Amount Patients" [(visible)]="display" [width]="1200" [height]="800" [modal]="true"
    (onHide)="onDialogClose()">
    <p-dataTable [value]="pendingPatientList" [rows]="20" [loading]="loader" [paginator]="true" [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]">
        <p-header>Pending Amount Patients</p-header>
        <p-column field="firstname" header="First Name" [sortable]="true" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="lastname" header="Last Name" [sortable]="true" [filter]="true" filterPlaceholder="Search">
        </p-column>
        <p-column field="number" header="Phone" [sortable]="true">
        </p-column>
        <p-column field="dob" header="Date of Birth" [sortable]="true">
        </p-column>
        <p-column field="totalAmount" header="Amount" [sortable]="true">
        </p-column>
        <p-column field="pendingAmount" header="Rem. Amount">
        </p-column>
    </p-dataTable>
</p-dialog> -->

<!-- <p-dialog header="Send SMS" [(visible)]="displaySms" [width]="600" [modal]="true" (onHide)="onDialogClose()">
    <app-send-sms [selectedPatients]="selectedPatients" (eEmitCloseEvent)="displaySms = false"></app-send-sms>
</p-dialog> -->