/* You can add global styles to this file, and also import other style files */

.topbar-custom {
    height: 56px!important;
    &-left {
        height: 100%!important;
        display: flex;
        align-items: center;
    }
    &-right {
        padding: 7px!important;
    }
}

.layout-menu-custom {
    top: 56px!important;
}

.login-body {
    background: none!important;
    display: flex;
    justify-content: center;
    height: 500px;
    .login-panel {
        margin: 50px auto 0 auto;
    }
}
.layout-custom {
    margin-left: 0px!important;
    padding: 0px!important;
}

.layout-rightpanel-active {
    top: 56px !important;
    width: 300px!important;
}

.tab-view-custom {
    border: none!important;
}

.input-field-top-padding > div{
    padding-top: 18px!important;  
}

.input-field-top-padding > i{
    padding-top: 18px!important;  
}

fieldset {
    color: #a2a0a0;
    border:1px solid #d0caca;
    border-radius: 5px;
    padding-bottom: 24px;
    margin-top: 16px;
}

.layout-main-custom {
    padding-top: 60px!important;
    padding-right: 8px!important;
    padding-left: 8px!important;
    padding-bottom: 8px!important;
}
