/* You can add global styles to this file, and also import other style files */

.topbar-custom {
    height: 56px!important;
    &-left {
        height: 100%!important;
        display: flex;
        align-items: center;
    }
    &-right {
        padding: 7px!important;
    }
}

.layout-menu-custom {
    top: 56px!important;
}

.login-body {
    background: none!important;
    // background: url("assets/layout/images/home-bg.jpg") top left no-repeat #f7f7f7;
    // background-size: 100% auto;
    // height: auto;
    display: flex;
    justify-content: center;
    height: auto;
    .login-panel {
        margin: 50px auto 0 auto;
        opacity: 0.8;
        height: auto;
    }
}
.layout-custom {
    margin-left: 0px!important;
    padding: 0px!important;
}

.layout-rightpanel-active {
    top: 56px !important;
    width: 300px!important;
}

.tab-view-custom {
    border: none!important;
}

.input-field-top-padding > div{
    padding-top: 18px!important;  
}

.input-field-top-padding > i{
    padding-top: 18px!important;  
}

fieldset {
    color: #a2a0a0;
    border:1px solid #d0caca;
    border-radius: 5px;
    padding-bottom: 24px;
    margin-top: 16px;
}

.layout-main-custom {
    padding-top: 60px!important;
    padding-right: 8px!important;
    padding-left: 8px!important;
    padding-bottom: 8px!important;
}

body .ui-datatable .ui-datatable-thead > tr th {
    padding: .25em .5em;
    font-weight: bold;
    .ui-chkbox {
        &-icon {
            margin-top: -3px;
        }
        .ui-chkbox-box {
            width: 12px;
            height: 12px;
        }
    }
}

body .ui-datatable .ui-datatable-data > tr {
    border-bottom: 1px solid #e5e5e5;
    td {
        padding: .5em .75em;
        font-weight: normal;
        border: none;
        .ui-chkbox {
            &-icon {
                margin-top: -3px;
            }
            .ui-chkbox-box {
                width: 12px;
                height: 12px;
                
            }
        }
    }
}
  
body .ui-datatable .ui-paginator {
    padding: .125em;
    background-color: #869da96e;
    border: none;
    a {
        color: black;
    }
}

body .ui-button, body .ui-datepicker-buttonpane > button {
    background-color: #9badb6;
}

.patient-action-buttons > button {
    background-color: #9badb6;
    margin: 0px 3px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}